.composition {
    position: relative;

    &__photo {
        width: 55%;
        border-radius: $rad;
        position: absolute;
        transition: all .3s;
        outline-offset: 2rem;
        z-index: 1;

        @include respond(tab-port) {
            position: relative;
            width: 33.33%;
            float: left;
        }

        &--p1 {
            left: 0;
            top: -2rem;
            box-shadow: -1.5rem -5px 4rem $shadow1;

            &:hover {
                box-shadow: -2.3rem -1rem 4rem $shadow1;
            }

            @include respond(tab-port) {
                top: 1rem;
                box-shadow: -1.3rem 5px 2rem $shadow1;
                transform: scale(1.2);
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;
            box-shadow: 1.5rem -5px 4rem $shadow1;

            &:hover {
                box-shadow: 0 1rem 4rem $shadow1;
            }

            @include respond(tab-port) {
                top: 0;
                box-shadow: 0 1rem 2rem $shadow1;
                transform: scale(1.3);
                z-index: 2;
            }
        }

        &--p3 {
            top: 10rem;
            left: 20%;
            box-shadow: 0 2rem 3rem $shadow1;

            &:hover {
                box-shadow: 0 2.5rem 4rem $shadow1;
            }

            @include respond(tab-port) {
                top: 1rem;
                left: 0;
                box-shadow: 1.3rem 5px 2rem $shadow1;
                transform: scale(1.2);
            }
        }

        &:hover {
            outline: 1.5rem solid $clr-primary;
            transform: scale(1.05) translateY(-5px);
            z-index: 3;

            @include respond(tab-port) {
                outline: none;
                transform: scale(1.5);
            }
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);

        @include respond(tab-port) {
            transform: none;
            opacity: .5;
        }
    }
}